APP_PASSWORD = "your_team_password"

# -- TrafficLenz Auto-Download ----------------------------------------------
TL_PORTAL_URL     = "https://www.trafficlenz.com/"
TL_USERNAME       = "your_email@domain.com"
TL_PASSWORD       = "your_password"
TL_SURVEY_ID      = "DC513MH06"
TL_SEL_SURVEY_LINK     = ""
TL_SEL_DOWNLOAD_BUTTON = "https://www.trafficlenz.com/Home/downloadQuestionnaireReport"
TL_LOGIN_SUCCESS_URL   = "/Home/viewgraph"
